/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Libre+Barcode+128+Text&family=Special+Elite&family=Rubik+Maps&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 5.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(0, 0%, 60%);
  --first-color-light: hsl(0, 0%, 80%);
  --first-color-lighten: hsl(155, 90%, 16%);
  --black-color: hsl(0, 0%, 4%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Special Elite", system-ui;
  --second-font: "Rubik Maps", system-ui;
  --biggest-font-size: 6rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 17rem;
    --normal-font-size: 1.15rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: radial-gradient(#bbbbbb 0%, #090a0f 100%);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  filter: drop-shadow(0 0 10px white);
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: background-color .3s, box-shadow .3s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__close,
.nav__actions {
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__actions {
  column-gap: .5rem;
}

.nav__cart,
.nav__user{
  color: var(--black-color);
}
.nav__user:hover, 
.nav__cart:hover,
.nav__toggle:hover {
  color: hsl(155, 100%, 18%);
  transition: all 0.3s ease;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--first-color);
    width: 80%;
    height: 100%;
    box-shadow: -2px 0 12px hsla(0, 0%, 0%, .2);
    padding: 6rem 3rem 0;
    transition: right .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  color: var(--black-color);
  font-weight: var(--font-semi-bold);
}
.nav__link:hover {
  color: hsl(155, 100%, 18%);
  transition: all 0.3s ease;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}
.nav__close:hover {
  color: hsl(155, 100%, 18%);
  transition: all 0.3s ease;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Background header */
.bg-header {
  background-color: var(--first-color);
  filter: drop-shadow(0 0 10px white);
}

/*=============== HOME ===============*/
.home__container {
  height: 100vh;
  padding-block: 9rem 2rem;
  display: grid;
  align-items: center;
  row-gap: 6rem;
}

.home__content {
  position: relative;
  display: grid;
}

.home__title {
  position: absolute;
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-regular);
}

.home__img {
  width: 250px;
  filter: drop-shadow(0 0 10px white);
  margin: 1rem auto 2rem;
}

.home__article {
  text-align: center;
}

/* Swiper class */
.swiper {
  margin-inline: initial;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  top: initial;
  bottom: 0;
  font-size: 1.5rem;
  color: var(--black-color);
  filter: drop-shadow(0 0 10px white);
}

.swiper-button-prev {
  left: calc(50% - 8rem);
}

.swiper-button-next {
  right: calc(50% - 8rem);
}
.swiper-button-prev:hover {
  color: hsl(155, 100%, 18%);
  transition: all 0.3s ease;
}

.swiper-button-next:hover {
  color: hsl(155, 100%, 18%);
  transition: all 0.3s ease;}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 330px) {
  .container {
    margin-inline: 1rem;
  }

  .home__img {
    width: 200px;
    margin-bottom: 3rem;
  }
  .home__title {
    font-size: 5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .nav__menu {
    width: 50%;
  }

  .home__article {
    scale: .6;
    transition: scale .3s;
  }

  /* Swiper class */
  .home .swiper-slide-active {
    scale: 1;
    opacity: 1;
  }

}

/* For large devices */
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle, 
  .nav__close {
    display: none;
  }
  .nav__menu {
    width: 100%;
  }
  .nav__list {
    flex-direction: row;
    justify-content: center;
    column-gap: 4rem;
  }
  .nav__actions {
    font-size: 1.5rem;
    column-gap: 1rem;
  }

  .home__container {
    height: initial;
    padding-top: 10rem;
  }
  .home__swiper {
    max-width: 1100px;
    margin-inline: auto;
  }
  .home__article {
    width: 450px;
    scale: .55;
  }
  .home__img {
    width: 450px;
    margin-bottom: 5rem;
  }

  .swiper-button-prev {
    left: calc(50% - 12rem);
    font-size: 2rem;
  }
  .swiper-button-next {
    right: calc(50% - 12rem);
    font-size: 2rem;
  }
  ::-webkit-scrollbar {
    width: .6rem;
    background-color: hsl(0, 0%, 75%);
  }
  ::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 65%);
  }
}